In [7]:
#Create a data frame with this

import pandas
names=["Tom치s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

data={'names':names, 'woman':woman,'ages':ages, 'country':country, 'education':education}
data

students=pandas.DataFrame.from_dict(data)

# seeing it:
students

     names  woman  ages  country education
0    Tom치s  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

In [55]:
#Create a list of tuples, where each tuple is a pair (name,country), using comprehensions

listoftuples=[(names,country) for (names,country) in zip(students.names,students.country)]
listoftuples

[('Tom치s', 'Chile'),
 ('Pauline', 'Senegal'),
 ('Pablo', 'Spain'),
 ('Bjork', 'Norway'),
 ('Alan', 'Peru'),
 ('Juana', 'Peru')]

In [60]:
#Implement a for loop to count how many peruvian there are in the data frame. 
#Try using not in one solution and ~ in another one.

counterOfPeruvian=0 # counter 

for country in students.country:
    if country=='Peru':
        counterOfPeruvian +=1 #updating counter 
  

# to see the results:
print ('There are', counterOfPeruvian,'Peruvian.')

There are 2 Peruvian.

In [74]:
#Implement a for loop to get the count of men. Try using not in one solution and ~ in another one.
students.woman

counterOfMen=0 # counter 

for woman in students.woman: #name in for should be same as if 
    if woman==False:
        counterOfMen +=1 #updating counter - increase by 1
   
# to see the results:
print ('There are', counterOfMen,'men.')

There are 4 men.

In [76]:
# Using Not
students.woman

counterOfMen=0 # counter 

for woman in students.woman: #name in for should be same as if 
    if not woman:
        counterOfMen +=1 #updating counter - increase by 1
   
# to see the results:
print ('There are', counterOfMen,'men.')

There are 4 men.

In [78]:
# using ~

counterOfMen=0 # counter 

for man in ~students.woman: # ~ reversing whats true to false; false to true
    if man:
        counterOfMen +=1 #updating counter - increase by 1
   
# to see the results:
print ('There are', counterOfMen,'men.')

There are 4 men.

In [83]:
sex=[True,False,True]

for element in sex:
    if element:
        
        print ('Got True')

Got True
Got True

In [72]:
students.where(students.country=='Peru').dropna().shape


#dropna removes the na
# shape used to count rows and columns
# shape(0) used for first value

(2, 5)