In [ ]:
#Nida Haroon HW 1#

In [1]:
import pandas 

# columns as lists 
names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
sex=["Male", "Female", "Male","Male", "Male", "Female"]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

data={'names':names, 'woman':woman, 'sex':sex, 'ages':ages, 'country':country, 'education':education}
data

friends=pandas.DataFrame.from_dict(data)

friends

     names  woman     sex  ages  country education
0    Tomás  False    Male    32    Chile      Bach
1  Pauline   True  Female    33  Senegal      Bach
2    Pablo  False    Male    28    Spain    Master
3    Bjork  False    Male    30   Norway       PhD
4     Alan  False    Male    32     Peru      Bach
5    Juana   True  Female    27     Peru    Master

In [3]:
# Homework 1
# where is the youngest male in the group from?
# a. Using sort_values() 

friends[friends.sex=='Male'].sort_values('ages',ascending=False).tail(1).country

2    Spain
Name: country, dtype: object

In [11]:
# b. Do some research and find the answer using where() and min()

friends.where(friends.woman==False)
friends.where(friends.woman==False).ages.min()
Youngestmale=friends.where(friends.woman==False).ages.min()
friends[friends.ages==Youngestmale].country

2    Spain
Name: country, dtype: object

In [12]:
# b. Do some research and find the answer using query() and min()

Youngestmale1=friends.query("woman==False").ages.min()

In [14]:
friends[friends.ages==Youngestmale1].country

2    Spain
Name: country, dtype: object